*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.smallcontainer{
    display: block;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(5, 17, 4) */
    /* background-color: #900C3F; */
}
#img1{
    height: 70px;
}
.navbar{
    background-color: #FF5733;
}
.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
}
.navbar ul li{
    padding: 5px;
}